In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [2]:
df = pd.read_csv('./house_test.csv')

In [3]:
df.shape

(112, 20)

In [4]:
df = df[~df['price'].str.contains('Giá thỏa thuận|triệu')]
df['price'] = df['price'].str.replace('[+tỷ]', '', regex=True)
df['price'] = df['price'].replace(',', '.', regex=True)
df['price'] = df['price'].astype(float)

df['duong_vao'] = df['duong_vao'].str.replace('[+m]', '', regex=True)
df['duong_vao'] = df['duong_vao'].replace(',', '.', regex=True)
df['duong_vao'] = df['duong_vao'].astype(float)
df['duong_vao'].fillna(value=df['duong_vao'].mean().round(1), inplace=True)

df['floor'] = df['floor'].str.replace('[+tầng]', '', regex=True)
df['floor'] = df['floor'].replace(',', '.', regex=True)
df['floor'] = df['floor'].astype(float)

df['size'] = df['size'].str.replace('[+m²]', '', regex=True)
df['size'] = df['size'].replace(',', '.', regex=True)
df['size'] = df['size'].astype(float)

df = df[~df['Price_per_m2'].str.contains('nghìn')]
df['Price_per_m2'] = df['Price_per_m2'].str.replace('[+tr/m²]', '', regex=True)
df['Price_per_m2'] = df['Price_per_m2'].replace(',', '.', regex=True)
df['Price_per_m2'] = df['Price_per_m2'].astype(float)


df['mat_tien'] = df['mat_tien'].str.replace('[+m]', '', regex=True)
df['mat_tien'] = df['mat_tien'].replace(',', '.', regex=True)
df['mat_tien'] = df['mat_tien'].astype(float)

In [5]:
df.drop(columns=['title', 'link_item', 'link_item.1', 'bed_idx', 'toi_idx', 'index_', 'Unnamed: 0'], inplace=True)

In [6]:
df['location'].value_counts()

Đống Đa, Hà Nội         18
Thanh Xuân, Hà Nội      18
Long Biên, Hà Nội       13
Hoàng Mai, Hà Nội        9
Cầu Giấy, Hà Nội         9
Hai Bà Trưng, Hà Nội     8
Tây Hồ, Hà Nội           8
Ba Đình, Hà Nội          5
Hà Đông, Hà Nội          3
Nam Từ Liêm, Hà Nội      3
Bắc Từ Liêm, Hà Nội      3
Thanh Trì, Hà Nội        2
Hoài Đức, Hà Nội         2
Đông Anh, Hà Nội         2
Quốc Oai, Hà Nội         1
Mê Linh, Hà Nội          1
Chương Mỹ, Hà Nội        1
Name: location, dtype: int64

In [7]:
df

,price,location,size,Price_per_m2,bedroom,toi_list,mat_tien,floor,duong_vao,phap_ly,noi_that,Huong,Huong_ban_cong
0,3.50,"Hoàng Mai, Hà Nội",40.0,87.50,4.0,3.0,4.0,4.0,4.9,NaN,NaN,NaN,NaN
1,3.25,"Thanh Trì, Hà Nội",28.0,116.07,3.0,3.0,3.4,5.0,3.0,Sổ đỏ/ Sổ hồng,Đầy đủ,NaN,NaN
2,4.50,"Đống Đa, Hà Nội",34.0,132.35,3.0,4.0,NaN,5.0,4.9,NaN,NaN,Nam,NaN
3,5.25,"Hai Bà Trưng, Hà Nội",52.0,100.96,4.0,NaN,NaN,4.0,4.9,Sổ đỏ/ Sổ hồng,NaN,NaN,NaN
4,5.15,"Cầu Giấy, Hà Nội",35.0,147.14,3.0,4.0,3.7,5.0,5.0,Sổ đỏ/ Sổ hồng,Cơ bản,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
107,7.50,"Đống Đa, Hà Nội",70.0,174.29,3.0,3.0,NaN,4.0,4.9,Sổ đỏ/ Sổ hồng,Cơ bản,NaN,NaN
108,2.35,"Đông Anh, Hà Nội",42.0,127.27,4.0,3.0,4.0,3.0,4.9,Sổ đỏ,NaN,NaN,NaN
109,6.10,"Thanh Xuân, Hà Nội",35.0,267.21,3.0,2.0,4.5,6.0,4.9,Sổ đỏ chính chủ,Đầy đủ,NaN,NaN
110,7.00,"Đống Đa, Hà Nội",55.0,150.00,4.0,5.0,6.5,4.0,4.9,Sổ đỏ/ Sổ hồng,Đầy đủ,NaN,NaN
111,16.30,"Đống Đa, Hà Nội",61.0,267.21,4.0,NaN,4.5,5.0,8.0,Sổ đỏ/ Sổ hồng,NaN,NaN,NaN

In [21]:
df['phap_ly'].value_counts()

Sổ đỏ/ Sổ hồng    98
Name: phap_ly, dtype: int64

In [9]:
my_list2 = ['Sổ đỏ/ Sổ hồng.', 'Sổ đỏ', 'Sổ đỏ chính chủ', 'Sổ đỏ.', 'Sổ đỏ chính chủ.', 'Sổ đỏ chính chủ, mới tinh.','Chuẩn','Đã có sổ']
for i in my_list2:
    df['phap_ly'] = df['phap_ly'].replace(i, 'Sổ đỏ/ Sổ hồng')

In [20]:
df['noi_that'].value_counts()

Đầy đủ            45
Cơ bản            16
Cao cấp            1
Không nội thất     1
Name: noi_that, dtype: int64

In [11]:
my_list2 = ['Đầy đủ.','Mới','Đầy đủ nội thất hiện đại, thang máy nhập khẩu xịn, cầu thang gỗ giữa, thang máy giữa, sàn ép gỗ tốt.','Cơ bản đầy đủ.']
for i in my_list2:
    df['noi_that'] = df['noi_that'].replace(i, 'Đầy đủ')

In [17]:
my_list3 = ['Cơ bản.']
for i in my_list3:
    df['noi_that'] = df['noi_that'].replace(i, 'Cơ bản')

In [18]:
my_list4 = ['Nội thất cao cấp nhập khẩu hoàn toàn. Cửa phòng ngủ, cầu thang, gỗ Lim nguyên khối, thiết bị vệ sinh Inax, tủ bếp gỗ cao cấp, trần thạch cao.']
for i in my_list4:
    df['noi_that'] = df['noi_that'].replace(i, 'Cao cấp')

In [19]:
df['noi_that'].value_counts()

Đầy đủ            45
Cơ bản            16
Cao cấp            1
Không nội thất     1
Name: noi_that, dtype: int64

In [22]:
df

,price,location,size,Price_per_m2,bedroom,toi_list,mat_tien,floor,duong_vao,phap_ly,noi_that,Huong,Huong_ban_cong
0,3.50,"Hoàng Mai, Hà Nội",40.0,87.50,4.0,3.0,4.0,4.0,4.9,NaN,NaN,NaN,NaN
1,3.25,"Thanh Trì, Hà Nội",28.0,116.07,3.0,3.0,3.4,5.0,3.0,Sổ đỏ/ Sổ hồng,Đầy đủ,NaN,NaN
2,4.50,"Đống Đa, Hà Nội",34.0,132.35,3.0,4.0,NaN,5.0,4.9,NaN,NaN,Nam,NaN
3,5.25,"Hai Bà Trưng, Hà Nội",52.0,100.96,4.0,NaN,NaN,4.0,4.9,Sổ đỏ/ Sổ hồng,NaN,NaN,NaN
4,5.15,"Cầu Giấy, Hà Nội",35.0,147.14,3.0,4.0,3.7,5.0,5.0,Sổ đỏ/ Sổ hồng,Cơ bản,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
107,7.50,"Đống Đa, Hà Nội",70.0,174.29,3.0,3.0,NaN,4.0,4.9,Sổ đỏ/ Sổ hồng,Cơ bản,NaN,NaN
108,2.35,"Đông Anh, Hà Nội",42.0,127.27,4.0,3.0,4.0,3.0,4.9,Sổ đỏ/ Sổ hồng,NaN,NaN,NaN
109,6.10,"Thanh Xuân, Hà Nội",35.0,267.21,3.0,2.0,4.5,6.0,4.9,Sổ đỏ/ Sổ hồng,Đầy đủ,NaN,NaN
110,7.00,"Đống Đa, Hà Nội",55.0,150.00,4.0,5.0,6.5,4.0,4.9,Sổ đỏ/ Sổ hồng,Đầy đủ,NaN,NaN
111,16.30,"Đống Đa, Hà Nội",61.0,267.21,4.0,NaN,4.5,5.0,8.0,Sổ đỏ/ Sổ hồng,NaN,NaN,NaN

In [23]:
df.to_csv('hanoi_house_test.csv', index=False)

In [24]:
df = pd.read_csv('./hanoi_house_test.csv')

In [25]:
df

,price,location,size,Price_per_m2,bedroom,toi_list,mat_tien,floor,duong_vao,phap_ly,noi_that,Huong,Huong_ban_cong
0,3.50,"Hoàng Mai, Hà Nội",40.0,87.50,4.0,3.0,4.0,4.0,4.9,NaN,NaN,NaN,NaN
1,3.25,"Thanh Trì, Hà Nội",28.0,116.07,3.0,3.0,3.4,5.0,3.0,Sổ đỏ/ Sổ hồng,Đầy đủ,NaN,NaN
2,4.50,"Đống Đa, Hà Nội",34.0,132.35,3.0,4.0,NaN,5.0,4.9,NaN,NaN,Nam,NaN
3,5.25,"Hai Bà Trưng, Hà Nội",52.0,100.96,4.0,NaN,NaN,4.0,4.9,Sổ đỏ/ Sổ hồng,NaN,NaN,NaN
4,5.15,"Cầu Giấy, Hà Nội",35.0,147.14,3.0,4.0,3.7,5.0,5.0,Sổ đỏ/ Sổ hồng,Cơ bản,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
101,7.50,"Đống Đa, Hà Nội",70.0,174.29,3.0,3.0,NaN,4.0,4.9,Sổ đỏ/ Sổ hồng,Cơ bản,NaN,NaN
102,2.35,"Đông Anh, Hà Nội",42.0,127.27,4.0,3.0,4.0,3.0,4.9,Sổ đỏ/ Sổ hồng,NaN,NaN,NaN
103,6.10,"Thanh Xuân, Hà Nội",35.0,267.21,3.0,2.0,4.5,6.0,4.9,Sổ đỏ/ Sổ hồng,Đầy đủ,NaN,NaN
104,7.00,"Đống Đa, Hà Nội",55.0,150.00,4.0,5.0,6.5,4.0,4.9,Sổ đỏ/ Sổ hồng,Đầy đủ,NaN,NaN
105,16.30,"Đống Đa, Hà Nội",61.0,267.21,4.0,NaN,4.5,5.0,8.0,Sổ đỏ/ Sổ hồng,NaN,NaN,NaN

In [43]:
def replace_missings (X) :
    X=X.drop(X.isna().sum()[X.columns[X.isna().sum() > 1000]].index, axis = 1)
    lis = X.isna().sum()[X.columns[X.isna().sum() > 1]].index
    for k in lis : 
        if type(X[k].iloc[0]) == str:
            X[k]=  X[k].fillna(X[k].iloc[0], inplace=True)
        
        else :
            X[k]=  X[k].fillna(X[k].mean())
    return X 

def labelencoding (X) :
    lisle = []
    for col in X.columns:
        if X[col].dtype == 'object':
            label_encoder = LabelEncoder()
            X[col] = label_encoder.fit_transform(X[col])
            lisle.append(label_encoder)
    return X

def remove_outliers(X, threshold):
    z_scores = (X - X.mean()) / X.std()
    outliers = (z_scores.abs() > threshold).any(axis=1)
    X = X[~outliers]
    return X

In [44]:
datatrain = pd.read_csv('./hanoi_house_test.csv')
datatrain= labelencoding(datatrain)
datatrain
datatrain= replace_missings (datatrain)
datatrain = remove_outliers(datatrain, 5)
datatrain

,price,location,size,Price_per_m2,bedroom,toi_list,mat_tien,floor,duong_vao,phap_ly,noi_that,Huong,Huong_ban_cong
0,3.50,6,40.0,87.50,4.0,3.000000,4.000,4.0,4.9,1,4,7,5
1,3.25,12,28.0,116.07,3.0,3.000000,3.400,5.0,3.0,0,3,7,5
2,4.50,16,34.0,132.35,3.0,4.000000,4.894,5.0,4.9,1,4,1,5
3,5.25,4,52.0,100.96,4.0,3.602273,4.894,4.0,4.9,0,4,7,5
4,5.15,3,35.0,147.14,3.0,4.000000,3.700,5.0,5.0,0,1,7,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
101,7.50,16,70.0,174.29,3.0,3.000000,4.894,4.0,4.9,0,1,7,5
102,2.35,15,42.0,127.27,4.0,3.000000,4.000,3.0,4.9,0,4,7,5
103,6.10,13,35.0,267.21,3.0,2.000000,4.500,6.0,4.9,0,3,7,5
104,7.00,16,55.0,150.00,4.0,5.000000,6.500,4.0,4.9,0,3,7,5
105,16.30,16,61.0,267.21,4.0,3.602273,4.500,5.0,8.0,0,4,7,5

In [45]:
datatrain.to_csv('./hanoi_house_test_1.csv')

In [46]:
y_test=datatrain['price']
X_test=datatrain.drop(['price'], axis = 1)
X_test

,location,size,Price_per_m2,bedroom,toi_list,mat_tien,floor,duong_vao,phap_ly,noi_that,Huong,Huong_ban_cong
0,6,40.0,87.50,4.0,3.000000,4.000,4.0,4.9,1,4,7,5
1,12,28.0,116.07,3.0,3.000000,3.400,5.0,3.0,0,3,7,5
2,16,34.0,132.35,3.0,4.000000,4.894,5.0,4.9,1,4,1,5
3,4,52.0,100.96,4.0,3.602273,4.894,4.0,4.9,0,4,7,5
4,3,35.0,147.14,3.0,4.000000,3.700,5.0,5.0,0,1,7,5
...,...,...,...,...,...,...,...,...,...,...,...,...
101,16,70.0,174.29,3.0,3.000000,4.894,4.0,4.9,0,1,7,5
102,15,42.0,127.27,4.0,3.000000,4.000,3.0,4.9,0,4,7,5
103,13,35.0,267.21,3.0,2.000000,4.500,6.0,4.9,0,3,7,5
104,16,55.0,150.00,4.0,5.000000,6.500,4.0,4.9,0,3,7,5
105,16,61.0,267.21,4.0,3.602273,4.500,5.0,8.0,0,4,7,5

In [48]:
# Load all models
import pickle
model_rf =  pickle.load(open('./model/model_rf.pickle',mode='rb')) # machine learning model (SVM)

In [49]:
y_test

0       3.50
1       3.25
2       4.50
3       5.25
4       5.15
       ...
101     7.50
102     2.35
103     6.10
104     7.00
105    16.30
Name: price, Length: 104, dtype: float64

In [51]:
y_predict = model_rf.predict(X_test)

In [52]:
y_predict

array([ 3.34632857,  3.69844286,  4.31906429,  6.1821    ,  5.16652857,
        3.96390714,  8.92547857,  5.08002143,  5.35766429,  3.51475714,
        5.50750714,  2.9047    ,  5.96157143,  8.43662143,  3.48126429,
        6.62725714,  7.42239286,  2.56702857, 12.8443    ,  2.53589286,
       12.37138571,  8.43869286, 12.23260714,  6.11288571,  6.02282857,
        6.86214286, 15.67027857,  9.95      ,  4.77637143,  4.11449286,
        4.65443571,  9.48060714,  7.55233571,  6.28273571,  3.75780714,
        4.30175714,  4.01995   ,  4.30175714,  6.18206429,  5.63173571,
        2.80097857, 21.30456429,  9.26204286,  4.19511429,  4.38328571,
        3.18609286,  3.94182143,  2.88351429,  4.58414286,  7.81951429,
        7.74822143,  6.86029286,  8.42150714,  7.00987143,  3.83264286,
        3.41771429,  5.45040714,  3.95179286,  6.99975   ,  4.72758571,
        8.99809286, 13.72532143,  3.87043571,  5.69327143,  4.39422143,
        7.86232143, 16.83203571,  4.12975   ,  8.06574286,  8.36277857,
        6.56243571,  5.16909286, 14.01762143, 11.78241429,  8.37158571,
        4.5382    ,  7.92287857,  4.31622143, 13.40701429,  3.08027857,
        8.01822857,  3.98103571, 13.00103571,  3.75466429,  5.30411429,
        9.82677143,  4.37572857, 15.38693571,  4.86128571,  3.41241429,
        6.14263571,  5.41650714, 13.04527143,  4.51410714,  4.52281429,
        3.89859286,  3.96274286,  8.63735   ,  3.02184286, 10.61779286,
        4.63291429,  7.39505714,  8.72165   , 13.84213571])

In [54]:
final = pd.DataFrame({'y_test': y_test, 'y_predict': y_predict})

In [57]:
final.head(10)

   y_test  y_predict
0    3.50   3.346329
1    3.25   3.698443
2    4.50   4.319064
3    5.25   6.182100
4    5.15   5.166529
5    4.35   3.963907
6    8.70   8.925479
7    1.80   5.080021
8    5.10   5.357664
9    3.00   3.514757

In [56]:
final.to_csv('./prediction_result.csv')

In [2]:
m = pd.read_csv('./prediction_result.csv')

In [6]:
df = m.iloc[10:20]
df

    Unnamed: 0  y_test  y_predict
10          10    5.70   5.507507
11          11    1.79   2.904700
12          12    4.70   5.961571
13          13    6.80   8.436621
14          14    4.30   3.481264
15          16    2.46   6.627257
16          17    7.00   7.422393
17          18    2.35   2.567029
18          19   12.99  12.844300
19          20    2.35   2.535893